streamlit==1.28.0
numpy==1.24.3

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2

sentence-transformers==2.2.2
faiss-cpu==1.7.4

PyPDF2==3.0.1
python-docx==1.1.0
unstructured==0.10.30

nltk==3.8.1
huggingface-hub==0.19.4
groq==0.9.0
httpx==0.27.0
